.serviceResourceSelect {
    border: 1px solid grey;
    border-radius: 12px;
}

.timeslot {
    border-radius: 5px;
    /* width: 7em;
    height: 4em; */
}

.timeslotContainer:Hover {
    background-color: #C1E6EF;
}

.timeslotContainer {
    transition: 400ms;
    border-right: 1px solid grey;
}
.timeslotContainer:last-child {
    border: none;
}

img {
    height: 50px;
    width: auto;
}

@media only screen and (max-width: 600px) {
   
}