.header {
    background-color: #C1E6EF;
    padding: 10px;
    border-radius: 15px;
}

.button {
    padding: 5px 10px;
    border: 1px solid #003f5c;
    cursor: pointer;
}

.button:first-child {
    border-radius: 15px 0px 0px 15px;
}

.button:last-child {
    border-radius: 0px 15px 15px 0px;
}

.active {
    background-color: #00167a;
    color: white;
}

.serviceResourceSelect {
    border: 1px solid grey;
    border-radius: 12px;
}

.timeslot {
    border-radius: 5px;
    /* width: 7em;
    height: 4em; */
}

.timeslotContainer:Hover {
    background-color: #C1E6EF;
}

.timeslotContainer {
    transition: 400ms;
    border-right: 1px solid grey;
}
.timeslotContainer:last-child {
    border: none;
}

img {
    height: 50px;
    width: auto;
}

@media only screen and (max-width: 600px) {
   
    input {
        width: 100%
    }

    .overview {
        display: none;
    }
}