.serviceResourceSelect {
    border: 1px solid grey;
    border-radius: 12px;
    margin: 10px;
}

.timeslot {
    border: 1px solid grey;
    border-radius: 5px;
    width: 7em;
    height: 4em;
    transition: 400ms;
}

.timeslot:Hover {
    border: 1px solid #C1E6EF;
    background-color: #C1E6EF;
}

@media only screen and (max-width: 600px) {
    .timeslot {
        width: 3.5em;
        height: 3em;

    }
}