/**
 * Created by Tom Vanhouche on 13/05/2024.
 */

.related-list-card {
    display: block;
}

:host {
    --slds-c-card-color-background: #f3f3f3;
}

.card-content {
    border-top: 1px solid rgb(201,201,201);
}