.locationSelection {
    border: 2px solid #003f5c;
    border-radius: 15px;
    transition: 400ms;
}

.locationSelection:hover{
    background-color: #C1E6EF;
    border: 2px solid #C1E6EF;
}

img {
    height: 80px;
    width: auto;
}