.header {
    border: 1px solid #003f5c;
    padding: 10px;
    border-radius: 15px;
}

.locationSelection {
    box-shadow: 0px 2px 5px grey;
    border-radius: 15px;
    transition: 400ms;
}

.locationSelection:hover{
    background-color: #C1E6EF;
}

.selected {
    background-color: #C1E6EF;
}

img {
    height: 80px;
    width: auto;
}