.header {
    border: 1px solid #003f5c;
    padding: 10px;
    border-radius: 15px;
}
lightning-textarea {
    width: 40%;
}

@media only screen and (max-width: 600px) {
    lightning-textarea {
        width: 100%;
    }
  }