.header {
    border: 1px solid #003f5c;
    padding: 10px;
    border-radius: 15px;
}
lightning-textarea, lightning-file-upload, .card {
    width: 50%;
}

.card {
    box-shadow: 0px 2px 5px grey;
    border-radius: 15px;
    margin: 10px 0px;
}

.input, textarea {
    --slds-c-input-color-border: #fff;
    --slds-c-input-shadow: 0px 1px 4px grey;
}

lightning-icon {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    lightning-textarea, lightning-file-upload, .card {
        width: 100%;
    }
  }