.header {
    background-color: #C1E6EF;
    padding: 10px;
    border-radius: 15px;
}

.worktypeSelection {
    height: 25em;
    border: 2px solid #003f5c;
    border-radius: 15px;
    transition: 400ms;
}

.worktypeSelection:hover {
    background-color: #C1E6EF;
    border: 2px solid #C1E6EF;
}

.footer {
    position: relative;
    bottom: 3;
}

img {
    height: 10em;
    width: 10em;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #003f5c;
}

@media only screen and (max-width: 600px) {
   
    .worktypeSelection {
        height: 20em;
    }

    img {
        height: 7em;
        width: 7em;
        border-radius: 50%;
    }
}

