lightning-input {
    width: 40%;
}

.patientSelect {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #C1E6EF;
    margin: 20px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    lightning-input {
        width: 90%;
    }
  }