lightning-input, lightning-input-address{
    width: 40%;
}

lightning-radio-group{
    width: 40%;
    /* border: 1px solid black; */
}

.patientSelect {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #C1E6EF;
    margin: 20px;
    font-weight: bold;
}


.slds-radio_button__label{
    background-color: #C1E6EF;
}

@media only screen and (max-width: 600px) {
    lightning-input, lightning-input-address, input, lightning-radio-group{
        width: 100%;
    }
  }